<launch>
  <arg name="load_params" default="true" />

  <arg name="pose_topic" default="/true_pose" />
  <arg name="right_image_topic" default="/realsense/rgb/image_rect_raw" />
  <arg name="right_info_topic" default="/realsense/rgb/camera_info" />
  <arg name="left_image_topic" default="/realsense/rgb/image_rect_raw" />
  <arg name="left_info_topic" default="/realsense/rgb/camera_info" />
  <arg name="depth_image_topic" default="/realsense/depth/image_rect_raw" />
  <arg name="depth_info_topic" default="/realsense/depth/camera_info" />
  <arg name="imu_topic" default="/interpolate_imu/imu" />

  <node pkg="simulation" type="unity_ros" name="unity_ros" >
    <remap from="~Quadrotor/Sensors/IMU/pose" to="$(arg pose_topic)" />
    <remap from="~Quadrotor/Sensors/IMU/twist" to="/true_twist" />
    <remap from="~Quadrotor/Sensors/DepthCamera/image_raw" to="$(arg depth_image_topic)" />
    <remap from="~Quadrotor/Sensors/DepthCamera/camera_info" to="$(arg depth_info_topic)" />
    <remap from="~Quadrotor/Sensors/RGBCameraLeft/image_raw" to="$(arg left_image_topic)" />
    <remap from="~Quadrotor/Sensors/RGBCameraLeft/camera_info" to="$(arg left_info_topic)" />
    <remap from="~Quadrotor/Sensors/RGBCameraRight/image_raw" to="$(arg right_image_topic)" />
    <remap from="~Quadrotor/Sensors/RGBCameraRight/camera_info" to="$(arg right_info_topic)" />
    <remap from="~Quadrotor/IMU" to="$(arg imu_topic)" />
  </node>

</launch>
